
@import 'utility';

.costs-background {
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/ignasi_pattern_s.png');
  min-height: 100vh;
}

.costs-header {
  display: flex;
  justify-content: center;
  font-family: $base-font-family;
  padding: 10px 0;
  width: 100%;
  background-color: $base-color;
  color: white;

  h2 {
    margin: 0;
  }
}

.costs-wrapper {
  padding: 1em;

  h3 {
    margin-right: 0.5em;
    font-size: 1em;
    color: #777;
  }

  .checkout-in {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1em 0;
    padding: 1em 0.5em;
    background-color: hsla(0, 0%, 0%, 0.1);

    input {
      font-family: $base-font-family;
      font-size: $input-font-size;
      padding: $input-padding;
      color: #777;
      text-align: center;
      border: 1px solid lightgrey;
      outline: none;
    }

    .cost {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;

      input {
        width: 30%;
        margin-bottom: 0.5em;

        &.name {
          width: 50%;
        }
      }
    }
  }

  .list {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;

    .cancel-button {
      padding: 10px 30px;
      margin: 1.5em 0;
      background-color: $cancel;
      border: none;
      border-radius: 15px;
      color: white;
      font-weight: bold;
      font-size: 1.25em;
      outline: none;
    }

    .add-button {
      padding: 10px 30px;
      margin: 1.5em 0;
      background-color: $base-color;
      border: none;
      border-radius: 15px;
      color: white;
      font-weight: bold;
      font-size: 1.25em;
      outline: none;
    }
  }
}

.costs-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: $base-color;
  border-top: 1px solid lightgrey;

  nav {
    margin: 0 20px;

    a:link,
    a:visited {
      color: #11402d;
    }

    a:active {
      color: white;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1em;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    color: white;

    li {
      margin: 0;
    }
  }
}
