@import 'utility';

.flights-background {
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/ignasi_pattern_s.png');
  min-height: 100vh;
}

.flights-header {
  display: flex;
  justify-content: center;
  font-family: $base-font-family;
  padding: 10px 0;
  width: 100%;
  background-color: $base-color;
  color: white;

  h2 {
    margin: 0;
  }
}

.flights-wrapper {
  padding: 1em;

  .depart-return {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    padding: 1em;
    background-color: hsla(0, 0%, 0%, 0.1);

    input {
      font-family: $base-font-family;
      font-size: $input-font-size;
      padding: $input-padding;
      color: #777;
      text-align: center;
      border: 1px solid lightgrey;
      outline: none;
    }

    .airport {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      input {
        width: 72%;
        margin-bottom: 0.5em;
      }
    }

    .flight-info {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  .flight-cost {
    input {
      width: 10%;
      height: 10%;
      font-size: 1em;
    }

    input[type=number]::-webkit-inner-spin-button {
      opacity: 1;
    }

    input {
      text-align: center;
      width: 35%;
      padding: 5px;
      margin: 0;
      font-size: 2em;
      text-decoration: none;
      font-family: $base-font-family;
      outline: none;
      border: 1px solid $base-color;
      color: $base-color;
      background-color: white;
    }
  }

  .list {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;

    .cancel-button {
      padding: 10px 30px;
      margin: 1.5em 0;
      background-color: $cancel;
      border: none;
      border-radius: 15px;
      color: white;
      font-weight: bold;
      font-size: 1.25em;
      outline: none;
    }

    .add-button {
      padding: 10px 30px;
      margin: 1.5em 0;
      background-color: $base-color;
      border: none;
      border-radius: 15px;
      color: white;
      font-weight: bold;
      font-size: 1.25em;
      outline: none;
    }
  }
}

.flights-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: $base-color;
  border-top: 1px solid lightgrey;

  nav {
    margin: 0 20px;

    a:link,
    a:visited {
      color: #11402d;
    }

    a:active {
      color: white;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1em;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    color: white;

    li {
      margin: 0;
    }
  }
}
