@import 'utility';

.itenerary-background {
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/ignasi_pattern_s.png');
  min-height: 100vh;
}

.itenerary-header {
  display: flex;
  justify-content: center;
  font-family: $base-font-family;
  padding: 10px 0;
  width: 100%;
  background-color: $base-color;
  color: white;

  h2 {
    margin: 0;
  }
}

.itenerary-selectors {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    width: 100%;
    padding: 10px 20px;
    margin: 0;
    font-size: $input-font-size;
    text-decoration: none;
    font-family: $base-font-family;
    outline: none;
    border: 1px solid $base-color;
    color: $base-color;
    background-color: white;
  }
}

.itenerary-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.75);
  margin-top: 0;
  margin-bottom: 1em;
  color: #777;

  h4 {
    margin-top: 1em;
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}

.itenerary-item {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;
  background-color: white;

  ul {
    list-style: none;
    padding-left: 0;

    a:link,
    a:visited {
      text-decoration: none;
      color: $base-color;
    }

    li {
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        padding: 0.5em;
        border-bottom: 1px solid $base-color;
        flex: 1;
      }

      h2 {
        margin: 0;
      }

      display: flex;
      color: #777;
    }
  }

  .trips-cost {
    h2,
    p {
      margin: 0;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6em;
    padding: 0.5em;
    color: white;
    background-color: $base-color;
  }
}

.itenerary-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 1.5em 0;
  flex: 1;

  .itenerary-friends {
    background-color: white;
    color: $base-color;
    border: 1px solid $base-color;
  }

  button {
    width: 50%;
    padding: 10px 20px;
    margin: 0;
    font-size: $input-font-size;
    text-decoration: none;
    font-family: $base-font-family;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: $base-color;
  }

  p {
    margin: 0 0 1em;
    color: #777;
  }

  input {
    font-family: $base-font-family;
    font-size: $input-font-size;
    padding: $input-padding;
    color: #777;
    text-align: center;
    width: 90%;
    margin: 0 0 1em;
    border-color: lightgrey;

    &:focus {
      outline: none;
    }
  }

  .itenerary-create {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    p {
      margin-top: 15px;
    }
  }
}

.itenerary-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: $base-color;
  border-top: 1px solid lightgrey;

  nav {
    margin: 0 20px;

    a:link,
    a:visited {
      color: #11402d;
    }

    a:active {
      color: white;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1em;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    color: white;

    li {
      margin: 0;
    }
  }
}
