@import 'utility';

$base-text-size: 16px;
$base-font-family: 'helvetica', sans-serif;
$input-font-size: 0.95em;
$input-padding: 10px;
$base-color: #15bb67;

html {
  text-size-adjust: 100%;
  height: 100vh;
}

body {
  @include font-smoothing(on);

  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body,
#root,
html {
  min-height: 100vh;
  width: 100vw;
}

@import 'login';
@import 'explore';
@import 'itenerary';
@import 'profile';
